<div class="wrapper-modal">

  <!--Assign Job-->
  <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="loginModal" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content">

        <div class="close-box">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <div class="modal-body space-bitween">
          <form [formGroup]="assignDriverFormVal" (ngSubmit)="onClickAssignDriver()">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Route Name</label>
                  <input type="text" class="form-control" id="name" formControlName='route_name'
                    [(ngModel)]="assignDriverFormModel.route_name"
                    [ngClass]="{ 'is-invalid': submittedAssign &amp;&amp; assignDriverFormVal.controls.route_name.errors }"
                    autocomplete="off" />
                  <div *ngIf="submittedAssign &amp;&amp; assignDriverFormVal.controls.route_name.errors"
                    class="text-danger">
                    <div *ngIf="assignDriverFormVal.controls.route_name.errors.required">Route Name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                <div class="form-group">
                  <label for="time" class="col-form-label">Date/Time</label>
                  <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                    formControlName='assign_date_time' [(ngModel)]="assignDriverFormModel.assign_date_time"
                    [ngClass]="{ 'is-invalid': submittedAssign &amp;&amp; assignDriverFormVal.controls.assign_date_time.errors }"
                    autocomplete="off" />
                  <owl-date-time #dt1></owl-date-time>
                  <div *ngIf="submittedAssign &amp;&amp; assignDriverFormVal.controls.assign_date_time.errors"
                    class="text-danger">
                    <div *ngIf="assignDriverFormVal.controls.assign_date_time.errors.required">Date Time is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="Assign Driver" class="col-form-label">Assign Driver</label>
                  <select class="form-control" id="sel1" formControlName='driver_id'
                    [(ngModel)]="assignDriverFormModel.driver_id"
                    [ngClass]="{ 'is-invalid': submittedAssign &amp;&amp; assignDriverFormVal.controls.driver_id.errors }">
                    <option [value]='0' selected="selected">--Select Driver--</option>
                    <option *ngFor="let driver of driverList; let i = index" [value]="driver.id">
                      {{driver.name}}
                    </option>
                  </select>
                  <div *ngIf="submittedAssign &amp;&amp; assignDriverFormVal.controls.driver_id.errors"
                    class="text-danger">
                    <div *ngIf="assignDriverFormVal.controls.driver_id.errors.required">Driver is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" type="submit" class="btn btn-primary">Assign
                Driver</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!--//Assign Job-->


  <!--Cancel Job-->
  <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content">
        <div class="close-box">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <div class="modal-body space-bitween">
          <div class="inner-set-section">
            <div class="tagline-headding">Would you like to cancel the job ?</div>
            <div class="main-paira">
              <p>Shipment Ticket:{{shipment_ticket}}</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="processCancelShipment(shipment_ticket)" type="button" class="btn btn-primary">Please do
            it!</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--//Cancel Job-->

  <!--Withdraw Job-->
  <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content">
        <div class="close-box">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <div class="modal-body space-bitween">
          <div class="inner-set-section">
            <div class="tagline-headding">Would you like to withdraw the route {{shipment_route_name}}?</div>
            <div class="main-paira">
              <p>All of the unprocessed shipment will move to unassinged job.</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="processWithdrawShipment(shipment_route_id)" type="button" class="btn btn-primary">Please do
            it!</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--//Withdraw Job-->

  <!--View Details-->
  <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2" role="document" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content" style="border: none;">
        <div class="close-box close-box-view-details">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <mat-tab-group animationDuration="0ms">
          <mat-tab label="View Details">
            <div class="modal-footers modal-footers2 modal-footers-view-tab">
              <button *ngIf="routeType=='assign' || routeType == 'unassign'" (click)="processReleaseShipment()"
                type="button" class="btn btn-primary">Release Shipment</button>
              <a *ngIf="routeType=='assign'" href="" (click)="validateDeliverShipment()" class="btn btn-primary"
                data-toggle="modal" data-target="#Modal6" [attr.data-dismiss]="releaseShipmentTkt.length?modal:''">
                <span>Deliver Shipment</span>
              </a>
              <button *ngIf="booking_type != 'Vendor'" type="button" class="btn btn-primary" (click)="downloadExportCageSheet()">Export
                Cagesheet</button>
              <a *ngIf="routeType=='assign'" href="" (click)="validateCardedShipment()" class="btn btn-primary"
                data-toggle="modal" data-target="#Modal5" [attr.data-dismiss]="releaseShipmentTkt.length?modal:''">
                <span>Carded Shipment</span>
              </a>


              <select *ngIf="routeType=='unassign'" [(ngModel)]="resetDisputed.action_id" class="btn btn-primary"
                id="sel1" (change)="sendToDisputed($event.target.value)">
                <option [value]='0' selected="selected">--Disputed--</option>
                <option *ngFor="let diputedCode of disputedList; let i = index" [value]="diputedCode.action_id">
                  {{diputedCode.action_name}}
                </option>
              </select>

              <select *ngIf="routeType=='unassign'" [(ngModel)]="resetAssignRoute.shipment_route_id"
                class="btn btn-primary" id="sel1" (change)="moveToAssignRoute($event.target.value)">
                <option [value]='0' selected="selected">--Route Assign--</option>
                <option *ngFor="let routeList of assignRouteList; let i = index" [value]="routeList.shipment_route_id">
                  {{routeList.route_name}}
                </option>
              </select>
            </div>
            <div class="modal-body space-bitween ">
              <div style="width: 100%;">
                <span>
                  <h4>Route:</h4>{{routeName}}
                </span>
              </div>
              <div style="width: 100%;">
                <span>
                  <h4>Driver:</h4>{{driverName}}
                </span>
              </div>

              <div class="inner-set-section">
                <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
                  [columnDefs]="columnDefs" [modules]="modules" [suppressRowClickSelection]="true"
                  [rowSelection]='selectionMode' [enableCellTextSelection]="true" [defaultColDef]="defaultColDef"
                  (selectionChanged)="onSelectionChanged($event)">
                </ag-grid-angular>
              </div>


            </div>
          </mat-tab>
          <!--Show Traking Info-->
          <mat-tab label="Tracking" *ngIf="booking_type != 'Vendor'">
            <div class="modal-body">
            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-balham" [rowData]="rowDataTrakingInfo"
              [columnDefs]="columnDefsTrakingInfo" [modules]="modules" [suppressRowClickSelection]="true"
              [rowSelection]='selectionMode' [defaultColDef]="defaultColDef" [enableCellTextSelection]="true">
            </ag-grid-angular>
          </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <!--//View Details-->


  <!--Carded Shipment Form-->
  <div *ngIf="releaseShipmentTkt.length" class="modal fade" id="Modal5" tabindex="-1" role="dialog"
    aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content">
        <div class="close-box">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <div class="modal-body space-bitween">
          <div class="inner-set-section">
            <div class="tagline-headding">Carded Shipment(s)</div>
          </div>
          <form [formGroup]="cardedFormVal" (ngSubmit)="onClickCarded()">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Carded Status</label>
                  <select class="form-control" id="sel1" formControlName='carded_status'
                    [(ngModel)]="cardedFormModel.carded_status"
                    [ngClass]="{ 'is-invalid': submittedCard &amp;&amp; cardedFormVal.controls.carded_status.errors }"
                    required>
                    <option selected="selected">--Select Status--</option>
                    <option *ngFor="let cd of cardedeOptions" [value]="cd">
                      {{cd}}
                    </option>
                  </select>
                  <div *ngIf="submittedCard &amp;&amp; cardedFormVal.controls.carded_status.errors" class="text-danger">
                    <div *ngIf="cardedFormVal.controls.carded_status.errors.required">Carded Status is required</div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Drivers Comment</label>
                  <input type="text" class="form-control" id="name" placeholder="Comment"
                    formControlName='driver_comment' [(ngModel)]="cardedFormModel.driver_comment" autocomplete="off"
                    [ngClass]="{ 'is-invalid': submittedCard &amp;&amp; cardedFormVal.controls.driver_comment.errors }"
                    required />
                </div>
                <div *ngIf="submittedCard &amp;&amp; cardedFormVal.controls.driver_comment.errors" class="text-danger">
                  <div *ngIf="cardedFormVal.controls.driver_comment.errors.required">Carded Status is required</div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="date" class="col-form-label">Next Schedule Date and Time</label>
                  <input type="text" class="form-control" id="date" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3"
                    formControlName='carded_date_time' [(ngModel)]="cardedFormModel.carded_date_time"
                    [ngClass]="{ 'is-invalid': submittedCard &amp;&amp; cardedFormVal.controls.carded_date_time.errors }"
                    required autocomplete="off" />
                  <owl-date-time #dt3></owl-date-time>
                </div>
                <div *ngIf="submittedCard &amp;&amp; cardedFormVal.controls.carded_date_time.errors"
                  class="text-danger">
                  <div *ngIf="cardedFormVal.controls.carded_date_time.errors.required">Date Time is required</div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" type="submit" class="btn btn-primary">Carded</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--//Carded Shipment Form-->

  <!--Deliver Shipment-->
  <div *ngIf="releaseShipmentTkt.length" class="modal fade" id="Modal6" tabindex="-1" role="dialog"
    aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
      <div class="modal-content">
        <div class="close-box">
          <button type="button" data-dismiss="modal">X</button>
        </div>

        <div class="modal-body space-bitween">
          <div class="inner-set-section">
            <div class="tagline-headding">Delivered Shipment(s)</div>
          </div>
          <form [formGroup]="deliverFormVal" (ngSubmit)="onClickDeliver()">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Contact Person</label>
                  <input type="text" class="form-control" id="name" formControlName='contact_person'
                    [(ngModel)]="deliverFormModel.contact_person"
                    [ngClass]="{ 'is-invalid': submittedDelV &amp;&amp; deliverFormVal.controls.contact_person.errors }"
                    autocomplete="off" required />
                </div>
                <div *ngIf="submittedDelV &amp;&amp; deliverFormVal.controls.contact_person.errors" class="text-danger">
                  <div *ngIf="deliverFormVal.controls.contact_person.errors.required">Contact Person is required</div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Comment</label>
                  <input type="text" class="form-control" id="name" formControlName='deliver_comment'
                    [(ngModel)]="deliverFormModel.deliver_comment"
                    [ngClass]="{ 'is-invalid': submittedDelV &amp;&amp; deliverFormVal.controls.deliver_comment.errors }"
                    autocomplete="off" required />
                </div>
                <div *ngIf="submittedDelV &amp;&amp; deliverFormVal.controls.deliver_comment.errors"
                  class="text-danger">
                  <div *ngIf="deliverFormVal.controls.deliver_comment.errors.required">Comment is required</div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="date" class="col-form-label">Date and Time</label>
                  <input type="text" class="form-control" id="date" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                    formControlName='deliver_date_time' [(ngModel)]="deliverFormModel.deliver_date_time"
                    [ngClass]="{ 'is-invalid': submittedDelV &amp;&amp; deliverFormVal.controls.deliver_date_time.errors }"
                    autocomplete="off" required />
                  <owl-date-time #dt2></owl-date-time>
                </div>
                <div *ngIf="submittedDelV &amp;&amp; deliverFormVal.controls.deliver_date_time.errors"
                  class="text-danger">
                  <div *ngIf="deliverFormVal.controls.deliver_date_time.errors.required">Date Time is required</div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" type="submit" class="btn btn-primary">Deliver</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--//Deliver Shipment-->
</div>