<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <div class="logo"><img src="../../assets/iCargo-Logo.png"></div>

    <button mat-button>
      <mat-icon class="example-icon" aria-hidden="false"><i class="material-icons">home</i></mat-icon>
    </button>
    <button mat-button>
      <mat-icon class="example-icon" aria-hidden="false"><i class="material-icons">refresh</i></mat-icon>
    </button>
    <button mat-button (click)="toggleShow()">
      <mat-icon class="example-icon" aria-hidden="false"><i class="material-icons">search</i></mat-icon>
    </button>
    <div class="date-picker2">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <span class="example-spacer"></span>

    <div class="user-menu-2" [matMenuTriggerFor]="usernotification">
      <button mat-mini-fab>
        <mat-icon class="example-icon" aria-hidden="false"><i class="material-icons">notifications</i></mat-icon>
      </button>
      <mat-menu #usernotification="matMenu" class="user-mat-menu notify_mat">
        <div class="user-info notifications">
          <h5>Total Shipments</h5>
          <h6>456</h6>
        </div>
        <button mat-menu-item><i class="material-icons">
            keyboard_arrow_right </i>
          <span matBadge="4" matBadgeOverlap="false">Parcel</span></button>
        <button mat-menu-item><i class="material-icons"> keyboard_arrow_right </i>
          <span matBadge="48" matBadgeColor="warn" matBadgeOverlap="false">Sameday</span></button>
        <button mat-menu-item><i class="material-icons"> keyboard_arrow_right </i>
          <span matBadge="244" matBadgeColor="accent" matBadgeOverlap="false">Disputed</span></button>
      </mat-menu>
    </div>


    <div class="user-menu" [matMenuTriggerFor]="userprofile">
      <button mat-button>
        <mat-icon class="example-icon" aria-hidden="false"> <img src="../../assets/1.jpg"></mat-icon>
      </button>
      <!-- <button mat-mini-fab>
    <mat-icon class="example-icon" aria-hidden="false"><i class="material-icons">person</i></mat-icon>
  </button> -->
      <mat-menu #userprofile="matMenu" class="user-mat-menu">
        <div class="user-info">
          <img src="../../assets/1.jpg">
          <h5>Pankaj Chauhan</h5>
          <h6>pankaj@perceptive-solutions.com</h6>
        </div>
        <button mat-menu-item><i class="material-icons">person</i>My Profile</button>
        <button mat-menu-item><i class="material-icons">lock</i>Change Password</button>
        <button mat-menu-item><i class="material-icons"> power_settings_new</i>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <div class="search-row" *ngIf="isShown">
    <input type="text" placeholder="Search & Enter"><a class="close-icon" (click)="toggleShow()"><i
        class="material-icons"> close</i></a></div>
</mat-toolbar>