<div class="meterial-postion">
  
    <div class="close-ed" mat-raised-button mat-dialog-close tabindex="-1">
        X
    </div>
</div>


<mat-dialog-content class="meterial-box-width2">


    <mat-card-content>
        <!--Driver INFO-->

        <div class="driver-info">

            <div class="main-driver-details-section">

                <div class="section-col"><img src="../assets/driver-icon.png"></div>
                <div class="section-col2">
<!-- {{data | json}} -->
                    <div class="u-details-part">
                        <div class="colume-1">Driver Name</div>
                        <div class="colume-2">{{data.info.name}}</div>
                    </div>
                    <div class="u-details-part">
                        <div class="colume-1">Active Route Name</div>
                        <div class="colume-2">{{data.info.parcelData.active_route}}</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">No. of Assigned Routes</div>
                        <div class="colume-2">{{data.info.parcelData.no_of_shipment}}</div>
                    </div>
                    <div class="u-details-part">
                        <div class="colume-1">Battery</div>
                        <div class="colume-2">{{data.info.battery_charge}}</div>
                    </div>
                    <div class="u-details-part">
                        <div class="colume-1">Last Sync Time</div>
                        <div class="colume-2">{{data.info.last_sync_time}}</div>
                    </div>

                </div>

            </div>


            <div class="main-driver-details-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S No.</th>
                            <th scope="col">Route Name</th>
                            <th scope="col">Assigned Date</th>
                            <th scope="col">Completed Date</th>
                            <th scope="col">Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngIf="data.info.parcelData.driver_data?.length > 0">
                        <tr *ngFor="let driverData of data.info.parcelData.driver_data;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{driverData.route_name}}</td>
                                <td>{{driverData.assign_date_time}}</td>
                                <td>{{driverData.completed_date_time}}</td>
                                <td><span class="{{driverData.status_class}}">{{driverData.job_status}}</span></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </div>


        </div>


        <!--Driver INFO-->
    </mat-card-content>

</mat-dialog-content>