/*Driver-Details*/
.mat-dialog-container,.meterial-box-width2{
    width: 900px !important; 
    /* max-height: auto !important; */
    display: block !important;
    }
    .main-driver-details-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    }
    .main-driver-details-section .section-col{
    width: 30%;
    margin-right: 20px;
    margin-bottom: 15px;
    }
    .main-driver-details-section .section-col img {
    width: 150px;
    }
    .main-driver-details-section .section-col2{
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    }
    .u-details-part{
    width: 48%;
    margin: 10px 5px;
    }
    .u-details-part .colume-1{
    font-weight: 600;
    font-size: 14px;
    }
    .u-details-part .colume-2{
    color: #6f6f6f;
    font-size: 13px;
    }
    .main-driver-details-table{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .main-driver-details-table .table td{
    font-size: 14px;
    font-family: arial;
    }
    .main-driver-details-table .table th{
    font-size: 14px;
    font-family: arial;
    }
     .close-ed[type=button] {
    -webkit-appearance: unset !important;
    }
    /*Driver-Details*/