<div class="meterial-postion">
  
    <div class="close-ed" mat-raised-button mat-dialog-close tabindex="-1">
        X
    </div>
</div>


<mat-dialog-content class="meterial-box-width2">


    <mat-card-content>
        <!--Driver INFO-->

        <div class="driver-info">

            <div class="main-driver-details-section">

                <div class="section-col"><img src="../assets/driver-icon.png"></div>
                <div class="section-col2">

                    <div class="u-details-part">
                        <div class="colume-1">Driver Name</div>
                        <div class="colume-2">123456</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">Email Address</div>
                        <div class="colume-2">chandra@gmail.com</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">Active Route Name</div>
                        <div class="colume-2">xyz</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">No. of Assigned Routes</div>
                        <div class="colume-2">Delivery Route</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">Mobile</div>
                        <div class="colume-2">8878787878</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">Battery</div>
                        <div class="colume-2">40%</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">App Version</div>
                        <div class="colume-2">0.0.1</div>
                    </div>

                    <div class="u-details-part">
                        <div class="colume-1">Last Sync Time</div>
                        <div class="colume-2">10.10.11</div>
                    </div>

                </div>

            </div>


            <div class="main-driver-details-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S No.</th>
                            <th scope="col">Route Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Drive Route</td>
                            <td><button mat-raised-button color="warn">Assigned</button></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Drive Route</td>
                            <td><button mat-raised-button color="warn">Assigned</button></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Drive Route</td>
                            <td><button mat-raised-button color="warn">Assigned</button></td>
                        </tr>

                    </tbody>
                </table>

            </div>


        </div>


        <!--Driver INFO-->
    </mat-card-content>

</mat-dialog-content>