<mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true" class="custom-accordian">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Assigned ({{sidenaveleftService.dataList.assignDropCount}})
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let assignData of sidenaveleftService.dataList.assingedData">
            <ng-container *ngIf="assignData.drop_type == 'assinged'">
                <div class="main-left-panel assigned">
                    <div class="panel first">
                        <h6><i class="material-icons"> fiber_manual_record </i>{{assignData.customer_name}}</h6>
                    </div>
                    <div class="panel second {{assignData.route_label | lowercase}}">
                        <h5>{{assignData.route_label}}</h5>
                    </div>
                    <div class="panel third">
                        <h6><i class="material-icons"> explore </i>{{assignData.route_name}}</h6>
                    </div>
                    <div class="panel fourth">
                        <h6><i class="material-icons"> date_range </i>{{assignData.assign_date_time}}</h6>
                    </div>

                    <div class="panel fifth">
                        <h6><i class="material-icons"> directions_car </i>{{assignData.driver_name}}</h6>
                    </div>
                    <div class="panel sixth">
                        <a mat-button routerLink="."><i class="material-icons"> more_vert </i></a>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" class="custom-accordian">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Unassigned ({{sidenaveleftService.dataList.unassignDropCount}})
            </mat-panel-title>
            <mat-panel-description>

                <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let unassignData of sidenaveleftService.dataList.unassingedData">
            <ng-container *ngIf="unassignData.drop_type == 'unassinged'">
        <div class="main-left-panel unassigned">
            <div class="panel first">
                <h6><i class="material-icons"> fiber_manual_record </i>{{unassignData.customer_name}}</h6>
            </div>
            <!-- <div class="panel second">
                <h5> Paused</h5>
            </div> -->
            <div class="panel third fixed-width">
                <h6><i class="material-icons"> explore </i>{{unassignData.route_name}}</h6>
            </div>
            <div class="panel fourth">
                <h6><i class="material-icons"> date_range </i>{{unassignData.service_date}}</h6>
            </div>

            <div class="panel fifth">
                <!-- <h6><i class="material-icons"> directions_car </i>Meena</h6> -->
            </div>
            <div class="panel sixth">
                <a mat-button routerLink="."><i class="material-icons"> more_vert </i></a>
            </div>
        </div>
    </ng-container> 
    </ng-container> 
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="custom-accordian">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Completed ({{sidenaveleftService.dataList.completedDropCount}})
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- list3 -->

        <ng-container *ngFor="let completed of sidenaveleftService.dataList.completedData">
                <ng-container *ngIf="completed.drop_type == 'completed'">
        <div class="main-left-panel completed">
            <div class="panel first">
                <h6><i class="material-icons"> fiber_manual_record </i>{{completed.customer_name}}</h6>
            </div>
            <div class="panel second accepted">
                <h5> {{completed.route_label}}</h5>
            </div>
            <div class="panel third">
                <h6><i class="material-icons"> explore </i>{{completed.route_name}}</h6>
            </div>
            <div class="panel fourth">
                <h6><i class="material-icons"> date_range </i>{{completed.completed_date}}</h6>
            </div>

            <div class="panel fifth">
                <h6><i class="material-icons"> directions_car </i>{{completed.driver_name}}</h6>
            </div>
            <div class="panel sixth">
                <a mat-button routerLink="."><i class="material-icons"> more_vert </i></a>
            </div>
        </div>
    </ng-container> 
    </ng-container> 
    </mat-expansion-panel>
</mat-accordion>