<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav-left [sidebarLeftNavOp]="sidebarLeftNavOp"></app-sidenav-left>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle(); addClass()" class="side-button"
      [ngClass]="status ? 'success' : 'danger'" matTooltip="Click to Expand"
      aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="right">
    </button>
  </div>
  <div class="map-dashboard">
    <div id="map"></div>
    <button id='zoomto' class='btn-map-zoom'>
      <i class="material-icons">
        near_me
        </i>
        Show All Drops</button>
  </div>

  <!-- <mat-drawer #drawer2 class="example-sidenav2" mode="side" position="end">
    <div class="example-sidenav-content-2">
      <button type="button" mat-button (click)="drawer2.toggle(); addClass2()" class="side-button2"
        [ngClass]="status2 ? 'success' : 'danger'" matTooltip="Click to Expand"
        aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
      </button>
    </div>
    <app-sidenav-right></app-sidenav-right>
  </mat-drawer> -->


</mat-drawer-container>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='driverAssign'>
  <p style="color: white">Assigning To Driver....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='cancelJob'>
  <p style="color: white">Cancel Job....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='withdrawJob'>
  <p style="color: white">Withdraw Assinged Route ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='releasejob'>
  <p style="color: white">Release Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='carded'>
  <p style="color: white">carded Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='deliverJob'>
  <p style="color: white">deliver Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='gen-pdf'>
  <p style="color: white">Generating Cagesheet ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='save-filter'>
  <p style="color: white">Save Filter ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='delete-filter'>
  <p style="color: white">Delete Filter ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='disputedjob'>
  <p style="color: white">Disputed Shipment ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='assignRoute'>
  <p style="color: white">Reassign Route ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='view-details'>
  <p style="color: white">Loading Details ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='get-filter'>
  <p style="color: white">Filter Data ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='loadMap'>
  <p style="color: white">Loading Map Data ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='podlabel'>
  <p style="color: white">
   <i class="material-icons">
    picture_as_pdf
  </i> Generating POD Label ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='get-header-data'>
  <p style="color: white">Loading Data ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='placebid'>
  <p style="color: white">Bid request process ! please wait....</p>
</ngx-spinner>



<app-sidenav-left-operation #sidebarLeftNavOp></app-sidenav-left-operation>

<!--Same Coordinate Shipemnt Info-->
<div class="modal fade" id="Modal-shInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
    <div class="modal-content modal-content-shipment">
      <div class="close-box">
        <button type="button" data-dismiss="modal">X</button>
      </div>
      <div class="mapboxgl-popup-content">
        <ng-container *ngIf="sameCordinateSattusInfo">
        <div class="drops-headding">{{shipmentInfo.route_name}}</div>
        <div class="sec-div-drop-list-main">
          <div class="drop-list-design-1">
          <i class="material-icons drops-min-color1">home</i>
           </div>
           <div class="drop-list-design-2"> 
            <div><span>{{shipmentInfo.customerName}}</span>
          <div>{{shipmentInfo.address}}</div></div>
          </div>
        </div>

        <div class="sec-div-drop-list-main">
          <div class="drop-list-design-1">
          <i class="material-icons drops-min-color2">help_outline</i>
        </div>
        <div class="drop-list-design-2">
          <div><span>Ref:</span>{{shipmentInfo.job_customer_ref}}</div>
          <div><span>Service Type:</span> {{shipmentInfo.job_service_name}}</div>
          <div><span>Vehicle Type:</span> {{shipmentInfo.job_vehicle_name}}</div>
          <div><span>Job:</span> {{shipmentInfo.jobType}}</div>
          <div><span>Ticket:</span> {{shipmentInfo.ticket}}</div>
          <div><span>Tracking No:</span> {{shipmentInfo.instaDispatch_loadIdentity}}</div>
          <div><span>ETA:</span> {{shipmentInfo.eta}} Minute</div>
          <div><span>Instruction:</span> {{shipmentInfo.shipment_instruction}}</div>
          </div>
        </div>
        <div class="sec-div-drop-list-main">
          <div class="drop-list-design-1">
          <i class="material-icons drops-min-color4">visibility</i> 
        </div>
        <div class="drop-list-design-2"> 
          <div><span><a href="" onClick ="document.mapCom.viewDetailsFromSameCordinate()" data-toggle="modal" data-target="#Modal4">View Details</a></span></div>
          </div>
        </div>

        <div class="drops-line"></div>
        <div class="sec-div-drop-list-main-a">
          <div class="drop-list-design-1a">
          <i class="material-icons drops-min-color3a">local_car_wash</i>
          <span>{{shipmentInfo.driverName}}</span></div>

          <div class="drop-list-design-2a">

        
            <!--Show Hub List-->
             <ng-container *ngIf="shipmentInfo.hubList != ''"> 
            <div class="" *ngIf="shipmentInfo.assigned_driver == 0">
              
                <!-- <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuDlList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons"> person_add </i>
                 </a> -->
                 <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuDlList">
                     <li *ngFor="let hubList of shipmentInfo.hubList;let i = index" class="dropdown-item" (click)='getDriverByHubId(hubList.id)'>
                     {{hubList.name}}
                     </li>
               </ul> -->
               <select id="iFunction" name="nFunction" (change)="getDriverBasedOnHubId($event.target.value)">
                <option value="-1" selected="">-- Hub List --</option>
                <option *ngFor="let hubList of shipmentInfo.hubList;let i = index" value="{{hubList.id}}">{{hubList.name}}</option>
               </select>
               
             </div>
             </ng-container>
             
             <!--Show Driver List-->
            
            <div class="" *ngIf="shipmentInfo.assigned_driver == 0">
            
                 <!-- <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuDlList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="material-icons"> person_add </i>
                  </a> -->
                  <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuDlList">
                      <li *ngFor="let driverList of shipmentInfo.driverList;let i = index" class="dropdown-item" (click)='assignDriverSameCordinate(driverList.id)'>
                      {{driverList.name}}
                      </li>
                </ul> -->
                  <select id="iOperation" name="nOperation" (change)='assignDriverSameCordinate($event.target.value)'>
                  <option data-val="0" value="-1" selected="">-- Driver List --</option>
                  <option *ngFor="let driverList of shipmentInfo.driverList;let i = index" [attr.data-val]="driverList.hub_id" value="{{driverList.id}}">{{driverList.name}}</option>
                 </select>
               
              </div>
            </div>
          </div>
       

      </ng-container>
      <ng-container *ngIf="!sameCordinateSattusInfo">
        Loading ....
      </ng-container>
      </div>
  </div>
</div>
<!--Same Coordinate Shipemnt Info-->

