<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav-left [sidebarLeftNavOp]="sidebarLeftNavOp"></app-sidenav-left>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle(); addClass()" class="side-button"
      [ngClass]="status ? 'success' : 'danger'" matTooltip="Click to Expand"
      aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="right">
    </button>
  </div>
  <div class="map-dashboard">
    <div id="map"></div>
    <button id='zoomto' class='btn-map-zoom'>Show All Drops</button>
  </div>

  <!-- <mat-drawer #drawer2 class="example-sidenav2" mode="side" position="end">
    <div class="example-sidenav-content-2">
      <button type="button" mat-button (click)="drawer2.toggle(); addClass2()" class="side-button2"
        [ngClass]="status2 ? 'success' : 'danger'" matTooltip="Click to Expand"
        aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
      </button>
    </div>
    <app-sidenav-right></app-sidenav-right>
  </mat-drawer> -->


</mat-drawer-container>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='driverAssign'>
  <p style="color: white">Assigning To Driver....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='cancelJob'>
  <p style="color: white">Cancel Job....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='withdrawJob'>
  <p style="color: white">Withdraw Assinged Route ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='releasejob'>
  <p style="color: white">Release Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='carded'>
  <p style="color: white">carded Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='deliverJob'>
  <p style="color: white">deliver Job ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='gen-pdf'>
  <p style="color: white">Generating Cagesheet ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='save-filter'>
  <p style="color: white">Save Filter ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='delete-filter'>
  <p style="color: white">Delete Filter ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='disputedjob'>
  <p style="color: white">Disputed Shipment ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='assignRoute'>
  <p style="color: white">Reassign Route ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='view-details'>
  <p style="color: white">Loading Details ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='header-search'>
  <p style="color: white">Searching ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='get-filter'>
  <p style="color: white">Filter Data ....</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise" name='loadMap'>
  <p style="color: white">Loading Map Data ....</p>
</ngx-spinner>



<app-sidenav-left-operation #sidebarLeftNavOp></app-sidenav-left-operation>

<!--Same Coordinate Shipemnt Info-->
<div class="modal fade" id="Modal-shInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" [ngStyle]="{'display':showHideModal}">
    <div class="modal-content modal-content-shipment">
      <div class="close-box">
        <button type="button" data-dismiss="modal">X</button>
      </div>
      <div class="mapboxgl-popup-content">
        <div class="drops-headding">{{shipmentInfo.route_name}}</div>
        <div class="drops-min"><i class="material-icons drops-min-color1">home</i> <span>{{shipmentInfo.customerName}}</span>
          <div>{{shipmentInfo.address}}</div>
        </div>
        <div class="drops-min"><i class="material-icons drops-min-color2">help_outline</i> <span>Ref:{{shipmentInfo.customerReference}}</span>
          <div><span>Job:</span> {{shipmentInfo.jobType}}</div>
          <div><span>Ticket:</span> {{shipmentInfo.ticket}}</div>
        </div>
        <div class="drops-line"></div>
        <div class="drops-min"><i class="material-icons drops-min-color3">local_car_wash</i><span>{{shipmentInfo.driverName}}</span>
          <div>
            <div class="postion-set postion-set-new" *ngIf="shipmentInfo.assigned_driver == 0">
               <div class="dropdown show">
                 <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuDlList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="material-icons"> person_add </i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDlList">
                      <li *ngFor="let driverList of shipmentInfo.driverList;let i = index" class="dropdown-item" (click)='assignDriverSameCordinate(driverList.id)'>
                      {{driverList.name}}
                      </li>
                </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Same Coordinate Shipemnt Info-->

