<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav-left></app-sidenav-left>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle(); addClass()" class="side-button"
      [ngClass]="status ? 'success' : 'danger'" matTooltip="Click to Expand"
      aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="right">
    </button>
  </div>
  <div class="map-dashboard">
    <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker *ngFor="let marker of dashboardService.markerList" [latitude]="marker.shipment_latitude" [longitude]="marker.shipment_longitude" [label]="marker.icargo_execution_order.toString()" [iconUrl]="{
          url: marker.marker_url
      }">
                <agm-info-window>
                <h2>{{marker.shipment_ticket}}</h2>
                <h2>{{marker.shipment_ticket}}</h2>
                <a routerLink="localhost:4200">Details</a>
            </agm-info-window>
        </agm-marker>
    </agm-map> -->
    <!-- <mgl-map [style]="mapBoxStyle" [zoom]="[zoom]"
      [center]="[lng,lat]" [cursorStyle]="cursorStyle">
      <mgl-geojson-source id="dashboardService.points" [data]="dashboardService.points"></mgl-geojson-source>
      <mgl-geojson-source id="dashboardService.driverInfo" [data]="dashboardService.driverInfo"></mgl-geojson-source>

       <mgl-layer id="dashboardService.points" source="dashboardService.points" type="symbol" [layout]="{
        'icon-image': '{icon}',
        'icon-allow-overlap': true,
        'text-field': '{execution_order}'
      }" (click)="onClick($event)" (mouseEnter)="cursorStyle = 'pointer'" (mouseLeave)="cursorStyle = ''"></mgl-layer> -->

       <!--Drops Driver-->
      <!-- <mgl-layer id="dashboardService.driverInfo" source="dashboardService.driverInfo" type="symbol" [layout]="{
        'icon-image': '{icon}',
        'icon-allow-overlap': true,
        'text-field': '{execution_order}'
      }" (click)="onClick($event)" (mouseEnter)="cursorStyle = 'pointer'" (mouseLeave)="cursorStyle = ''"></mgl-layer> -->

      <!-- <mgl-popup *ngIf="selectedPoint" [lngLat]="selectedPoint.geometry.coordinates" (close)="selectedPoint = null">
        <span [innerHTML]="selectedPoint.properties.description"></span>
      </mgl-popup>
    </mgl-map> --> 
    <div id="map"></div>
  </div>

  <mat-drawer #drawer2 class="example-sidenav2" mode="side" position="end">
    <div class="example-sidenav-content-2">
      <button type="button" mat-button (click)="drawer2.toggle(); addClass2()" class="side-button2"
        [ngClass]="status2 ? 'success' : 'danger'" matTooltip="Click to Expand"
        aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
      </button>
    </div>
    <app-sidenav-right></app-sidenav-right>
  </mat-drawer>


</mat-drawer-container>