/* You can add global styles to this file, and also import other style files */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/ngx-toastr/toastr.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./driver-color.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif;}
.user-mat-menu i.material-icons {
    font-size: 20px;
    top: 6px;
    position: relative;
    padding-right: 12px;
    color: #33225a;
  }
  
.map-dashboard {
height: calc(100vh - 64px);
}
mat-drawer.example-sidenav {
    width: 702px;
}
mat-drawer.example-sidenav2 {
width: 650px;
    /*height: calc(100%-100px);*/
    min-height: auto;
    height: auto;
}

mat-drawer.example-sidenav2 {
  transform: translate3d(650px,0px,0) !important;
  visibility: visible !important;
  overflow: initial;
}
mat-drawer.example-sidenav2.mat-drawer-opened{
  transform: translate3d(0px,0px,0) !important;
}
.example-sidenav-content-2 {
  position: absolute;
  left: -23px;
  z-index: 999;
  height: 48px;
  width: 23px;
}

.side-button.mat-button.mat-button-base {
    height: 48px;
    min-width: 23px;
    position: absolute;
    background: rgba(255,255,255,0.9) url(assets/open-arrow.png) no-repeat center;
    background-size: 10px;
    padding: 0px 0;
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    z-index: 1;
}
.side-button.mat-button.mat-button-base.success{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.side-button2.mat-button.mat-button-base {
    height: 48px;
    min-width: 23px;
    right: 0;
    position: absolute;
    background: rgba(255,255,255,0.9) url(assets/open-arrow.png) no-repeat center;
    background-size: 10px;
    padding: 0px 0;
    top: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-right: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.side-button2.mat-button.mat-button-base.success{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.main-left-panel {
    padding: 8px;
    display: flex;
    background: #fafafa;
    border-bottom: 1px solid #e4e3e3;
}
.panel {
    width: 30px;
}
.panel.first {
    width: 150px;
    padding-right: 5px;
}
.panel.second {
  width: 100px;
}
.panel.third, .panel.fourth {
  width: 150px;
}
.panel.fifth {
  width: 80px;
}
.panel.sixth .mat-button {
  padding: 0;
  line-height: 0;
  min-width: auto;
}
.panel h6,.panel h5, .panel p{margin: 0;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.panel p{
    font-size: 12px
}
.panel i ,.panel i { font-size: 17px; vertical-align: bottom; margin-right: 5px; color:#33225a }
.panel.second h5 {     
font-size: 11px;
background: #c10000;
text-align: center;
padding: 1px 4px;
color: #fff;
letter-spacing: 0.5px;
font-weight: normal;
width: 68px;
border-radius: 2px; 
}
.panel.second.pending h5 {
    background: #ffa500;
}
.panel.second.accepted h5 {
    background: #850c85;
}

.panel.second.on.route h5 {
  background: rgb(6, 144, 29);
}

.panel.second.completed h5 {
  background: rgb(6, 144, 29);
}

.custom-accordian {
  margin: 0 !important;
}
.custom-accordian .mat-expansion-panel-body {
  padding: 0;
}
.custom-accordian .mat-expansion-panel-header {
  padding: 0px 15px;
  font-size: 18px;
  height: 40px !important;
}
.main-left-panel.unassigned .first h6 i {
  color: #c10000;
}

.main-left-panel.assigned .first h6 i {
  color: #ffa500;
}
.main-left-panel.completed .first h6 i {
  color: rgb(6, 144, 29);
}
.main-left-panel.unassigned {
  background: #ecd1d1;
}
.main-left-panel.assigned {
  background: #c6f5c8;
}

.example-container-3 {
 height: 100%;
  width: 649px;
  overflow: auto;
}

.example-container-3 table {
  width: 800px;
  display: table;
  table-layout: fixed;
}
.example-container-3 table > td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

.example-container-3 table th.mat-column-position,.example-container-3 table th.mat-column-weight, .example-container-3 table th.mat-column-symbol, .example-container-3 table th.mat-column-symbol2,
.example-container-3 table td.mat-column-position, .example-container-3 table td.mat-column-weight, .example-container-3 table td.mat-column-symbol, .example-container-3 table td.mat-column-symbol2   {
padding-left: 8px;
width: 5px;
}

/*.example-container-3 table th.mat-column-weight, .example-container-3 table td.mat-column-weight{
padding-left: 8px;
width: 50px;
}

.example-container-3 table th.mat-column-symbol, .example-container-3 table td.mat-column-symbol {
padding-left: 8px;
width: 50px;
}

.example-container-3 table th.mat-column-symbol2, .example-container-3 table td.mat-column-symbol2 {
padding-left: 8px;
width: 50px;
}*/
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
padding-left: 18px !important;
}
.example-container-3 .mat-table-sticky:first-child {
border-right: 1px solid #e0e0e0;
/*width: 150px;*/
width: 5px;
}

.example-container-3 .mat-table-sticky:last-child {
border-left: 1px solid #e0e0e0;
}

tr.mat-footer-row, tr.mat-row{
height: 35px !important;
}
/*.mat-drawer {
bottom: auto !important;
}*/

mat-drawer.example-sidenav2{
     position: absolute;
     top: 0;
     bottom: auto !important;
}
.example-container-modify{
    width: 649px;
    overflow-y: auto;
    max-height: 90vh;
    min-height: auto;
}

.fixed-width{
  width: 200px !important;
  padding-right: 5px;
}

/*Filter Css*/
.postion-headding h2{
  border-bottom: 1px solid #33225a;
  padding-bottom: 10px;
  margin-top: 0;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.mat-dialog-container {
  width: 600px !important; 
 /* max-height: auto !important; */
}
.mat-dialog-content{
  /* height: auto !important;*/
  overflow-y: auto !important; 
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: auto;
  margin-top: 7px;
  /* align-items: center; */
  /* height: 60px; */
}

.example-margin {
  margin: 0 10px;
}
.example-margin.margin-stop{
  margin:  0;
}


.row-design{
  display: flex;
  flex-wrap: wrap;
}
.col-row-page{
  width: 20%;
}
.col-row-page h2{
  font-size: 14px;
  font-family: arial;
  padding: 0px;
  word-break: break-word;
  letter-spacing: 0.5px;
  margin: 5px 0;
  font-weight: 600;;
}
.col-row-page2{
  display: block;
  margin:0;
  width: 80%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.mat-dialog-container{
position: relative !important;
}
.close-ed{
top: 20px;
position: absolute;
right: 30px;
font-size: 20px;
color:#7b7b7b;
cursor: pointer;
}

/*Driver-Details*/
.mat-dialog-container,.meterial-box-width2{
  width: 900px !important; 
  /* max-height: auto !important; */
  display: block !important;
  }
  .main-driver-details-section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  }
  .main-driver-details-section .section-col{
  width: 30%;
  margin-right: 20px;
  margin-bottom: 15px;
  }
  .main-driver-details-section .section-col img {
  width: 150px;
  }
  .main-driver-details-section .section-col2{
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  }
  .u-details-part{
  width: 48%;
  margin: 10px 5px;
  }
  .u-details-part .colume-1{
  font-weight: 600;
  font-size: 14px;
  }
  .u-details-part .colume-2{
  color: #6f6f6f;
  font-size: 13px;
  }
  .main-driver-details-table{
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  .main-driver-details-table .table td{
  font-size: 14px;
  font-family: arial;
  }
  .main-driver-details-table .table th{
  font-size: 14px;
  font-family: arial;
  }
   .close-ed[type=button] {
  -webkit-appearance: unset !important;
  }
  /*Driver-Details*/

table button.mat-raised-button{
  line-height: 18px;
  padding: 4px;
  } 
  table button.mat-raised-button.mat-warn {
  background-color: #33225a;
  font-size: 13px;
  font-weight: normal;
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1280px){
  .mat-dialog-container,.meterial-box-width2{
  width: 100% !important; 
  }
  .u-details-part {
  width: 46%;
  }
  .mat-dialog-content {
    margin: 0 auto;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 889px){
  .main-driver-details-section {
  display: inline;
  }
  .mat-dialog-container,.meterial-box-width2{
  width: 100% !important; 
  }
  .main-driver-details-section .section-col2 {
  width: 100%;
  }
}


/* parcel Popup*/
.mapboxgl-popup-content {
    padding: 15px 15px 15px 15px;
    width: 300px;
    background: #484848d9;
}

.drops-headding{
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}
.drops-headding::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  margin: auto;
  left: 0;
  background-color: #989898;
  top: 22px;
}
.drops-line{
  height: 2px;
  width: 100%;
  margin: 10px auto;
  background-color: #989898;
}
.mapboxgl-popup-close-button {
  /* position: absolute;
  right: 6px;
  color: #fff;
  top: 9px;
  border: 0;
  font-size: 22px;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent; */
  position: absolute;
    right: 0px;
    color: #fff;
    top: 0px;
    border: 0;
    font-size: 22px;
    border-radius: 0 3px 0 0;
    width: 60px;
    cursor: pointer;
    height: 30px;
    background-color: transparent;
    z-index: 99;
}
.drops-min{
  display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
} 
.drops-min i{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding: 4px;
  font-size: 17px;
  color: #fff;
  margin-right: 8px;
  position: relative;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #484848d9;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color:  #484848d9;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color:  #484848d9;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color:  #484848d9;
}

.drops-min-color1{
  background:#ffa962;
}
.drops-min-color2{
  background: #6e79ff;
}
.drops-min-color3{
  background: #0dad37;
}

.drops-min span{
  width: 87%;
  font-weight: 600;
}

.drops-min div{
  margin-left: 34px;
  font-size: 11px;
  font-weight: normal;
  /* margin-top: -9px; */
  letter-spacing: 0.5px;
  line-height: 13px;
  
}
/* .drops-min {
  background: #fff;
  border: none;
  border-radius: 100%;
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  bottom: 23px;
  right: 15px;
  text-decoration: none;
} */
/* .drops-min a i{
  text-align: center;
  color: #333;
} */

.postion-set{
  border: none;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  bottom: 21px;
  right: 15px;
  padding: 2px 5px;
  text-decoration: none;
  background: #fff;
}
.postion-set div{
  margin-left: 0;
  margin-top: 0;
}
.postion-set i{
  text-align: center;
  color: #333;
  margin-right: 0;
}

.postion-set ul{
  height: 200px;
  overflow-x: auto;
}
.postion-set ul li{
  font-size: 12px;
  cursor: default;
}
.postion-set ul li:hover{
  background-color: #b1b1b1;
}

.dr-info-ass{
  background-color: darkblue;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
}
.dr-info-compl{
  background-color:green;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
}
/* parcel Popup*/
/* Side menu 22/11/2019*/

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 38px;
  height: 38px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}


.set-list{
  margin: 0;
  padding: 0;
}
.set-list li{
  list-style: none;
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid  #eee;
}
.set-list li a{
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px 16px;
  display: block;
  text-decoration: none;
  color:  #333;
}
.set-list li:hover{
  border-bottom: 1px solid  #33225a;
}
.set-list li a:last-child{
  border-bottom: none;
}
.set-list li a span{
  padding: 0;
  top: -4px;
  position: relative;
}
.set-list li a .mat-icon{
font-size: 22px;
color:#33225a;
margin-right: 10px;
}

.modal-backdrop{
  z-index: 1;
  position: 0 !important;
}
.modal{
  z-index: 9 !important;
}
.tagline-headding{
  font-size: 18px;
margin-bottom: 13px;
}
.main-paira p{
  font-size: 15px;
  color: #5E5E5E;
}
.btn-primary {
color: #fff;
background-color:#33225a;
border-color: #33225a;
}
.btn-primary.focus, .btn-primary:focus {
box-shadow: 0 0 0 .2rem  #cfbaff;
}
.btn-primary:hover {
color: #fff;
background-color:#33225a;
border-color: #33225a;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
color: #fff;
background-color:#33225a;
border-color: #33225a;
}
.space-bitween{
  /* padding: 3em 2em 20px 2em; */
}
.close-box{
  position: absolute;
  right: 0;
  z-index: 1;
}
.close-box button{
border: none;
color:#19112d;
width: 40px;
height: 40px;
font-size: 20px;
padding: 5px;
cursor: pointer;
background-color: transparent;
transition: all 0.5s ease 0s;
}
/* Side menu 22/11/2019*/
/*toaster css */
/*toaster css */
.btn-map-zoom{
  font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
background-color: #3386c0;
color: #fff;
position: absolute;
top: 20px;
left: 50%;
z-index: 1;
border: none;
width: 200px;
margin-left:-100px;
display: block;
cursor: pointer;
padding: 10px 20px;
border-radius: 3px;
}

.modal-footers{
    width: 98%;
    line-height: 39px;
    padding: 3px;
    margin: 51px 5px 3px 7px;
}
.modal-footers .btn-primary{
margin: 6px;
}

@media (min-width: 576px){
.modal-dialog.modal-dialog2  {
    max-width: 1800px;
    margin: 1.75rem auto;
}
}

.modal-footers.modal-footers2{
  width: 66%;
  margin: 10px auto 0px auto;
}
.space-bitween h4{
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
}


.mapboxgl-popup-content ol li{
  color: #fff;
  font-size: 14px;
}
.mapboxgl-popup-content ol li a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.postion-set.postion-set-new{
  border: none;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    bottom: 21px;
    right: 15px;
    padding: 2px 5px;
    text-decoration: none;
    background: #fff;
}

.modal-content.modal-content-shipment{
    width: 302px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.modal-content.modal-content-shipment .close-box button {
  color: #ffffff !important;
  width: 50px;
  font-size: 14px;
}
.modal-content.modal-content-shipment .drops-headding::after {
  top: 26px;
}
.modal-content.modal-content-shipment .drops-min span {
  margin-bottom: 6px;
}

.panel h6 span{
  width: 12px;
  margin-right: 5px;
  line-height: 20px;
  white-space: pre;
  display: inline-block;
  height: 12px;
} 
.date-picker2{
  position: relative;
}
.date-picker2 input,.search-header{
  border-top: 1px solid;
  border-top-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.date-picker2 input:focus,.search-header:focus{
  border-top: 1px solid;
  border-top-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.date-picker2 span{
position: absolute;
right: 0;
color: #fff;
top: 7px;
}
.search-header{
  margin-left: 27px;
}
.modal-dialog.md-header-search{
    /* max-width: 90% !important;
    margin: 1.75rem auto; */
    max-width: 1402px !important;
    margin: 1.75rem 20%;
}

.close-box.close-box-view-details{
  position: absolute;
  right: 0;
  z-index: 9;
}
.modal-footers-view-tab{
  width: 99% !important;
}
.side-click{
  display: flex;
  flex-wrap: wrap;
}

.side-click .side-click-hand{
  cursor: pointer;
}

.side-click .panel.first {
  width: 104px;
  cursor: pointer;
}

.space-block{
  overflow: hidden;
}
.space-block span{
  font-size: 15px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 4px;
}
.space-block span h4{
  font-weight: 600;
  font-size: 16px;
  color: #33225a;
}

.selection{
  width: 200px;
  padding: 9px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
  height: 48px;
  z-index: -1;
}




/* .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar:active {
  background-color: #3f51b5;
  color: #fff;
} */

 
.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active{
  background-color:#33225a;
  color:white;
}
.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple{
  background-color:transparent;
  color:white;
}
.mat-tab-label:active{
  background-color:#33225a;
  color:white;
}
.mat-tab-label:selected{
  background-color:transparent;
  color:white;
}
.mat-tab-label{
     opacity: 1 !important; 
     font-size: 16px !important;
}
.mat-tab-label.mat-tab-label-active {
  background-color:#33225a;
  color:white;
}

.traking-details-grid .ag-root.ag-layout-normal {
  height: 100%;
  max-width: 1150px;
  margin: auto;
}

.date-picker2 input{
  cursor: pointer;
}
.header button.restor-btn{
  background: none;
    border: none;
    color: #fff;
    padding: 21px 10px;
    cursor: pointer;
    display: inline-block;
    outline: none;
}
/* .cdk-overlay-pane {
  width: 540px;
} */
.mat-button{
  outline: none;
}
.set-one{
  width: 53px !important;
}
.side-click .panel.first {
  overflow: hidden;
  height: 17px;
}
.fifth-set {
  overflow: hidden;
  width: 120px !important;
  height: 17px;
}

.main-left-panel {
  justify-content: space-between;
}
.all-set {
  overflow: hidden;
  height: 17px;
}
@media only screen and(min-width: 600px) and (max-width: 1600px){
  .modal-dialog.modal-dialog2 {
     margin: 1.75rem 20px;
  }
  }